// Background Colors

//-- Default Color
.bg-default {
  background-color: $default-color;
}

// Start White
.bg-wht {
  background-color: $white;
}

//-- Light
.bg-light {
  background-color: $light;
}

//--- Start Purple --- //
.bg-pl {
  background-color: $purple; //971d7d
}
.bg-pl-dkt {
  background-color: #430261;
}
.bg-pl-dk {
  background-color: #8303be;
}
.bg-pl-lgt {
  background-color: #b926fd;
}
.bg-pl-lgtt {
  background-color: #cb5aff;
}

//--- START BLACK ---/
.bg-blk {
  background-color: $black; //000000
}
.bg-black-darkest {
  background-color: #0f0f0f; //0f0f0f
}
.bg-black-dark {
  background-color: #1a1919; //1a1919
}
.bg-black-light {
  background-color: #252525; //252525
}
.bg-black-lightest {
  background-color: #333333; // 333333
}

//--- START BLUE ---//
.bg-blue-base {
  background-color: $blue; //2d5eb8
}
.bg-blue-darkest {
  background-color: #010188;
}
.bg-blue-dark {
  background-color: #0303b8;
}
.bg-blue-light {
  background-color: #2e2eff;
}
.bg-blue-lightest {
  background-color: #6969ff;
}

//--- START GREEN ---//
.bg-green-base {
  background-color: $green; //000c04
}
.bg-green-darkest {
  background-color: #02581f;
}
.bg-green-dark {
  background-color: #03aa3b;
}
.bg-green-light {
  background-color: #2bfa70;
}
.bg-green-lightest {
  background-color: #66fd98;
}

//-- Yellow
.bg-yellow-base {
  background-color: $yellow;
}
.bg-yellow-darkest {
  background-color: #f6f608;
}
.bg-yellow-dark {
  background-color: #f8f807;
}
.bg-yellow-light {
  background-color: #fcfc34;
}
.bg-yellow-lightest {
  background-color: #fdfd77;
}

//-- Red
.bg-red-base {
  background-color: $red;
}
.bg-red-darkest {
  background-color: #7e0303;
}
.bg-red-dark {
  background-color: #c50202;
}
.bg-red-light {
  background-color: #ff3737;
}
.bg-red-lightest {
  background-color: #ff5f5f;
}

//-- Orange
.bg-orange-base {
  background-color: $orange;
}
.bg-orange-darkest {
  background-color: #df9101;
}
.bg-orange-dark {
  background-color: #f0a00c;
}
.bg-orange-light {
  background-color: #ffb42a;
}
.bg-orange-lightest {
  background-color: #ffc251;
}

//-- Pink
.bg-pink-base {
  background-color: $pink;
}
.bg-pink-darkest {
  background-color: #970272;
}
.bg-pink-dark {
  background-color: #d3029f;
}
.bg-pink-light {
  background-color: #ff2fcb;
}
.bg-pink-lightest {
  background-color: #fd6bd9;
}
