//-- Colors

.black {
  color: $black;
}
.white {
  color: $white;
}
.success {
  color: $success;
}
.dark {
  color: $dark;
}
.danger {
  color: $danger;
}
.info {
  color: $info;
}
.warning {
  color: $warning;
}
.primary {
  color: $primary;
}
.light {
  color: $light;
}
.purple {
  color: $purple;
}
.pink {
  color: $pink;
}
.disabled {
  color: $disabled;
}
