//--- Typography - Text Colors & Sizes  --

//-- Hashtag
.hashtag {
  color: $white;
  background-color: transparent;
  font-size: 2.5rem;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 1.3rem;
  margin-top: 1.3rem;

  &:hover {
    color: $default-color;
    text-decoration: none;
    border: 0.3px;
    opacity: 0.9;
  }
}

//-- Text colors

.t-dab {
  color: $disabled;
}
.t-pl {
  color: $purple;
}

.t-pk {
  color: $pink;
}

.t-wht {
  color: $white;
}
.t-blk {
  color: $black;
}
.t-dk {
  color: $dark;
}
.t-yl {
  color: $yellow;
}
.t-rd {
  color: $red;
}
.t-org {
  color: $orange;
}
.t-grn {
  color: $green;
}
.t-bl {
  color: $blue;
}
.t-info {
  color: $info;
}
.t-dng {
  color: $danger;
}
.t-lgt {
  color: $light;
}
.t-wng {
  color: $warning;
}
.t-scs {
  color: $success;
}
.t-prm {
  color: $primary;
}
.t-pk {
  color: $pink;
}
.t-pl {
  color: $purple;
}
.t-dab {
  color: $disabled;
}

//-- Font Size --

.t-xs {
  font-size: $font-0-575;
  font-weight: 325;
  line-height: 1.1;
}

.t-sm {
  font-size: 0.75rem;
  font-weight: 325;
  line-height: 1.1;
}
.t-nl {
  //font-size: 1rem;
  font-size: $font-1rem;
  font-weight: 325;
  line-height: 1.1;
}
.t-lg {
  font-size: 2rem;
  font-weight: 325;
  line-height: 1.1;
}
.t-xl {
  font-size: 2.5rem;
  font-weight: 325;
  line-height: 1.1;
}
.t-xxl {
  font-size: 3.5rem;
  font-weight: 325;
  line-height: 1.1;
}
.t-xxxl {
  font-size: 4.5rem;
  font-weight: 325;
  line-height: 1.1;
}

//-- font-weight
.fw-nl {
  font-weight: normal;
}
.fw-bld {
  font-weight: bold;
}

.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}